.bundle/
log/*.log
pkg/
ext_yarn-*.gem
Gemfile.lock
*.log

# KEEP_FILES_BEGIN
vendor/**/node_modules/*
vendor/.bin/*
vendor/@babel/*
vendor/ab*
vendor/aco*
vendor/aj*
vendor/an*
vendor/ap*
vendor/ar*
vendor/as*
vendor/at*
vendor/aw*
vendor/ba*
vendor/bc*
vendor/br*
vendor/bs*
vendor/bu*
vendor/ca*
vendor/chalk/*
vendor/chartjs*
vendor/che*
vendor/ci*
vendor/cl*
vendor/co*
vendor/cr*
vendor/cs*
vendor/da*
vendor/de*
vendor/di*
vendor/do*
vendor/ec*
vendor/er*
vendor/es*
vendor/ex*
vendor/fa*
vendor/fb*
vendor/filen*
vendor/files*
vendor/fill*
vendor/fin*
vendor/for*
vendor/fr*
vendor/fs*
vendor/fu*
vendor/g*
vendor/h*
vendor/i*
vendor/ja*
vendor/je*
vendor/js-*
vendor/jsb*
vendor/jsd*
vendor/jse*
vendor/jso*
vendor/jsp*
vendor/k*
vendor/lc*
vendor/le*
vendor/loa*
vendor/loc*
vendor/lodash.sortby/*
vendor/loo*
vendor/lr*
vendor/ma*
vendor/me*
vendor/mi*
vendor/mk*
vendor/ms*
vendor/na*
vendor/no*
vendor/npm*
vendor/nu*
vendor/nw*
vendor/o*
vendor/p-*
vendor/pa*
vendor/pe*
vendor/pi*
vendor/pk*
vendor/pn*
vendor/pos*
vendor/pr*
vendor/ps*
vendor/pu*
vendor/q*
vendor/ran*
vendor/re*
vendor/ri*
vendor/rs*
vendor/sa*
vendor/se*
vendor/sh*
vendor/signal*
vendor/sis*
vendor/sl*
vendor/sn*
vendor/so*
vendor/sp*
vendor/ss*
vendor/st*
vendor/su*
vendor/sy*
vendor/tes*
vendor/tes*
vendor/th*
vendor/tm*
vendor/to*
vendor/tr*
vendor/tu*
vendor/tw*
vendor/ty*
vendor/u*
vendor/v*
vendor/w*
vendor/x*
vendor/y*

vendor/actioncable/*.md

vendor/activestorage/src/*
vendor/activestorage/*.md

vendor/bdd-lazy-var/*.md
vendor/bdd-lazy-var/*.ts

vendor/bootstrap/**/*.js.map
vendor/bootstrap/**/*.min.js
vendor/bootstrap/dist/css/*
vendor/bootstrap/js/src/*
vendor/bootstrap/*.md

vendor/bootstrap-sass/assets/fonts/*
vendor/bootstrap-sass/assets/images/*
vendor/bootstrap-sass/assets/**/*.min.js
vendor/bootstrap-sass/*.js
vendor/bootstrap-sass/*.md

vendor/bootswatch/.github/*
vendor/bootswatch/**/*.css
vendor/bootswatch/*.gemspec
vendor/bootswatch/*.md

vendor/bootswatch-sass/**/*.css
vendor/bootswatch-sass/**/*.less
vendor/bootswatch-sass/**/*.png
vendor/bootswatch-sass/fonts/*
vendor/bootswatch-sass/.npmignore
vendor/bootswatch-sass/README.md

vendor/chai/*
!vendor/chai/chai.js
!vendor/chai/LICENSE

vendor/chart.js/*
!vendor/chart.js/dist*
vendor/chart.js/dist/docs
vendor/chart.js/dist/*.min.js
!vendor/chart.js/dist/Chart.bundle.js
!vendor/chart.js/dist/Chart.js
!vendor/chart.js/package.json
!vendor/chart.js/LICENSE.md

vendor/chartkick/*
!vendor/chartkick/chartkick.js
!vendor/chartkick/package.json
!vendor/chartkick/LICENSE.txt

vendor/eonasdan-bootstrap-datetimepicker/*
!vendor/eonasdan-bootstrap-datetimepicker/src*
vendor/eonasdan-bootstrap-datetimepicker/src/less*
vendor/eonasdan-bootstrap-datetimepicker/src/nuget*
!vendor/eonasdan-bootstrap-datetimepicker/package.json
!vendor/eonasdan-bootstrap-datetimepicker/LICENSE

vendor/file-saver/*
!vendor/file-saver/FileSaver.js
!vendor/file-saver/package.json
!vendor/file-saver/LICENSE.md

vendor/font-awesome-sass/*
!vendor/font-awesome-sass/assets*
!vendor/font-awesome-sass/LICENSE.txt
!vendor/font-awesome-sass/package.json

vendor/jquery/*
!vendor/jquery/dist*
vendor/jquery/dist/core.js
vendor/jquery/dist/*.min.*
!vendor/jquery/dist/jquery.js
!vendor/jquery/dist/jquery.slim.js
!vendor/jquery/package.json
!vendor/jquery/LICENSE.txt

vendor/jquery-pjax/*
!vendor/jquery-pjax/jquery.pjax.js
!vendor/jquery-pjax/package.json
!vendor/jquery-pjax/LICENSE

vendor/jquery-ui/*
!vendor/jquery-ui/themes*
!vendor/jquery-ui/ui*
vendor/jquery-ui/ui/.jshintrc
!vendor/jquery-ui/package.json
!vendor/jquery-ui/LICENSE.txt

vendor/jquery-ujs/*
!vendor/jquery-ujs/src*
!vendor/jquery-ujs/package.json
!vendor/jquery-ujs/MIT-LICENSE

vendor/jquery.iframe-transport/*
!vendor/jquery.iframe-transport/jquery.iframe-transport.js
!vendor/jquery.iframe-transport/LICENSE
!vendor/jquery.iframe-transport/package.json

vendor/js-cookie/*
!vendor/js-cookie/src*
!vendor/js-cookie/src/js.cookie.js
!vendor/js-cookie/package.json
!vendor/js-cookie/LICENSE

vendor/jstz/*
!vendor/jstz/dist*
vendor/jstz/dist/*.ts
vendor/jstz/dist/*.min.*
!vendor/jstz/package.json
!vendor/jstz/LICENCE

vendor/lazysizes/**/*.min.*
vendor/lazysizes/**/*.md
vendor/lazysizes/*.xml
vendor/lazysizes/src/*

vendor/lodash/*
!vendor/lodash/core.js
!vendor/lodash/lodash.js
!vendor/lodash/package.json
!vendor/lodash/LICENSE

vendor/mocha/*
!vendor/mocha/mocha.js
!vendor/mocha/mocha.css
!vendor/mocha/package.json
!vendor/mocha/LICENSE

vendor/moment/*
!vendor/moment/locale*
!vendor/moment/min*
vendor/moment/min/*.min.js
!vendor/moment/min/locales.js
!vendor/moment/min/moment-with-locales.js
!vendor/moment/moment.js
!vendor/moment/package.json
!vendor/moment/LICENSE

vendor/moment-timezone/*
!vendor/moment-timezone/builds*
vendor/moment-timezone/builds/*.min.js
!vendor/moment-timezone/moment-*.js
!vendor/moment-timezone/package.json
!vendor/moment-timezone/LICENSE

vendor/nprogress/*
!vendor/nprogress/support*
vendor/nprogress/support/*.css
!vendor/nprogress/support/extras.css
!vendor/nprogress/nprogress.css
!vendor/nprogress/nprogress.js
!vendor/nprogress/package.json
!vendor/nprogress/License.md

vendor/popper.js/**/*.min.js
vendor/popper.js/**/*.js.map
vendor/popper.js/**/*.ts
vendor/popper.js/**/*.js.flow
vendor/popper.js/dist/esm/*
vendor/popper.js/dist/*.js
vendor/popper.js/*.md

vendor/rails-ujs/*.md
vendor/rails-ujs/README.rdoc

vendor/roboto-fontface/*
!vendor/roboto-fontface/css*
vendor/roboto-fontface/css/**/*.css
vendor/roboto-fontface/css/**/*.less
!vendor/roboto-fontface/fonts*
!vendor/roboto-fontface/package.json
!vendor/roboto-fontface/LICENSE

vendor/signature_pad/*
!vendor/signature_pad/dist*
vendor/signature_pad/dist/signature_pad.m*
!vendor/signature_pad/dist/signature_pad.js
!vendor/signature_pad/package.json

vendor/tempusdominus-bootstrap-4/**/*.min.js
vendor/tempusdominus-bootstrap-4/build/css/*
vendor/tempusdominus-bootstrap-4/node_modules/*
vendor/tempusdominus-bootstrap-4/src/js/*
vendor/tempusdominus-bootstrap-4/Gruntfile.js
vendor/tempusdominus-bootstrap-4/*.md
# KEEP_FILES_END
