.bundle/
log/*.log
pkg/
ext_yarn-*.gem
Gemfile.lock
*.log

# KEEP_FILES_BEGIN
node_modules/bootstrap/**/*.js.map
node_modules/bootstrap/**/*.min.js
node_modules/bootstrap/dist/css/*
node_modules/bootstrap/js/src/*
node_modules/bootstrap/*.md

node_modules/bootstrap-sass/assets/fonts/*
node_modules/bootstrap-sass/assets/images/*
node_modules/bootstrap-sass/assets/**/*.min.js
node_modules/bootstrap-sass/*.js
node_modules/bootstrap-sass/*.md

node_modules/bootswatch-sass/**/*.css
node_modules/bootswatch-sass/**/*.less
node_modules/bootswatch-sass/**/*.png
node_modules/bootswatch-sass/fonts/*
node_modules/bootswatch-sass/.npmignore
node_modules/bootswatch-sass/README.md

node_modules/chart.js/*
!node_modules/chart.js/dist*
node_modules/chart.js/dist/docs
node_modules/chart.js/dist/*.min.js
!node_modules/chart.js/dist/Chart.bundle.js
!node_modules/chart.js/dist/Chart.js
!node_modules/chart.js/package.json
!node_modules/chart.js/LICENSE.md
node_modules/chartjs*
node_modules/color-*

node_modules/chartkick/*
!node_modules/chartkick/chartkick.js
!node_modules/chartkick/package.json
!node_modules/chartkick/LICENSE.txt

node_modules/eonasdan-bootstrap-datetimepicker/*
!node_modules/eonasdan-bootstrap-datetimepicker/src*
node_modules/eonasdan-bootstrap-datetimepicker/src/less*
node_modules/eonasdan-bootstrap-datetimepicker/src/nuget*
!node_modules/eonasdan-bootstrap-datetimepicker/package.json
!node_modules/eonasdan-bootstrap-datetimepicker/LICENSE

node_modules/file-saver/*
!node_modules/file-saver/FileSaver.js
!node_modules/file-saver/package.json
!node_modules/file-saver/LICENSE.md

node_modules/font-awesome-sass/*
!node_modules/font-awesome-sass/assets*
!node_modules/font-awesome-sass/LICENSE.txt
!node_modules/font-awesome-sass/package.json

node_modules/jquery/*
!node_modules/jquery/dist*
node_modules/jquery/dist/core.js
node_modules/jquery/dist/*.min.*
!node_modules/jquery/dist/jquery.js
!node_modules/jquery/dist/jquery.slim.js
!node_modules/jquery/package.json
!node_modules/jquery/LICENSE.txt

node_modules/jquery-pjax/*
!node_modules/jquery-pjax/jquery.pjax.js
!node_modules/jquery-pjax/package.json
!node_modules/jquery-pjax/LICENSE

node_modules/jquery-ui/*
!node_modules/jquery-ui/themes*
!node_modules/jquery-ui/ui*
node_modules/jquery-ui/ui/.jshintrc
!node_modules/jquery-ui/package.json
!node_modules/jquery-ui/LICENSE.txt

node_modules/jquery-ujs/*
!node_modules/jquery-ujs/src*
!node_modules/jquery-ujs/package.json
!node_modules/jquery-ujs/MIT-LICENSE

node_modules/js-cookie/*
!node_modules/js-cookie/src*
!node_modules/js-cookie/src/js.cookie.js
!node_modules/js-cookie/package.json
!node_modules/js-cookie/LICENSE

node_modules/jstz/*
!node_modules/jstz/dist*
node_modules/jstz/dist/*.ts
node_modules/jstz/dist/*.min.*
!node_modules/jstz/package.json
!node_modules/jstz/LICENCE

node_modules/lodash/*
!node_modules/lodash/core.js
!node_modules/lodash/lodash.js
!node_modules/lodash/package.json
!node_modules/lodash/LICENSE

node_modules/moment/*
!node_modules/moment/locale*
!node_modules/moment/min*
node_modules/moment/min/*.min.js
!node_modules/moment/min/locales.js
!node_modules/moment/min/moment-with-locales.js
!node_modules/moment/moment.js
!node_modules/moment/package.json
!node_modules/moment/LICENSE

node_modules/moment-timezone/*
!node_modules/moment-timezone/builds*
node_modules/moment-timezone/builds/*.min.js
!node_modules/moment-timezone/moment-*.js
!node_modules/moment-timezone/package.json
!node_modules/moment-timezone/LICENSE

node_modules/nprogress/*
!node_modules/nprogress/support*
node_modules/nprogress/support/*.css
!node_modules/nprogress/support/extras.css
!node_modules/nprogress/nprogress.css
!node_modules/nprogress/nprogress.js
!node_modules/nprogress/package.json
!node_modules/nprogress/License.md

node_modules/roboto-fontface/*
!node_modules/roboto-fontface/css*
node_modules/roboto-fontface/css/**/*.css
node_modules/roboto-fontface/css/**/*.less
!node_modules/roboto-fontface/fonts*
!node_modules/roboto-fontface/package.json
!node_modules/roboto-fontface/LICENSE

node_modules/signature_pad/*
!node_modules/signature_pad/dist*
node_modules/signature_pad/dist/signature_pad.m*
!node_modules/signature_pad/dist/signature_pad.js
!node_modules/signature_pad/package.json
# KEEP_FILES_END
